* {
    color: rgb(234, 180, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: white;
    text-align: center; 
    margin-top: 20px; 
}

body {
    background: linear-gradient(5deg,rgb(255, 200, 230), rgb(134, 41, 130));
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    margin: 0;

}

.title1 {
    color: rgb(255, 201, 201);
}

.ent1 {
    display: flex;
    position: absolute;
    top: 230px;
    left: 60px;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
    color: rgb(255, 201, 201);
    display: flex;
    position: absolute;
}

.p1 { left: 510px; top: 80px; }
.p2 { left: 490px; top: 120px; }
.p3 { left: 470px; top: 160px; }
.p4 { left: 450px; top: 200px; }
.p5 { left: 435px; top: 240px; }
.p6 { left: 420px; top: 280px; }
.p7 { left: 400px; top: 320px; }

.img1 {
    transform: rotate(23deg);
    display: flex;
    position: absolute;
    justify-content: center;
    width: 180%;
    top: -30px;
    left: 129px;
    border-radius: 10px;
}

.title2 {
    color: rgb(133, 200, 255);
}

.ent2 {
    text-align: center; 
    display: flex;
    position: absolute;
    top: 130px;
    left: 50%; 
    transform: translateX(-50%); 
}

.img2 {
    transform: rotate(-9deg);
    display: flex;
    position: absolute;
    justify-content: center;
    width: 250%;
    top: 40px;
    left: 10px;
    border-radius: 10px;
}

.prim {
    white-space: nowrap;
    color: rgb(133, 200, 255);
    position: absolute;
    display: flex;
    top: 330px;
    transform: rotate(-9deg);
    left: 32px;
}

.title3, .sec {
    color: rgb(255, 201, 201);
}

.ent3 {
    display: flex;
    position: absolute;
    top: 190px;
    left: 80%;
}

.sec{
    white-space: nowrap;
    display: flex;
    top: 310px;
    display: flex;
    position: absolute;
}

.img3 {
    transform: rotate(-80deg);
    display: flex;
    position: absolute;
    justify-content: center;
    width: 230%;
    top: -14px;
    left: -25px;
    border-radius: 10px;
}

.trecho {
    display: flex;
    position: absolute;
    top: 690px;
    flex-direction: column; 
    text-align: center;
}

.trecho h2{
    color: rgb(255, 255, 255);
}

footer {
    display: flex;            
    flex-wrap: wrap;           
   justify-content: center;   
    gap: 10px;                 
    padding: 20px 0;          
}

footer img {
    width: 100px;              
    height: auto;           
    border-radius: 8px;        
    object-fit: cover;        
    transition: transform 0.3s ease; 
}

footer img:hover {
    transform: scale(1.8);    
}

.footer { 
    color: black;
}
